/* All Following will be for contact form and it's Styling*/
#contact-form {
  display: flex;
  text-align: center;
  align-items: center;
}
main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-form .info-panel {
  width: max-content;
  margin: auto;
  display: inline-block;
}
#contact-form .form-panel {
  width: 90%;
  margin: 0vh 0vw 6vh 0vw;
  padding: 2vh 2vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
  display: inline-block;
}
label {
  float: left;
}
input,
textarea {
  width: 200px;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
  float: right;
  border: 0;
}
.form-item {
  margin-top: 1vh;
}

textarea {
  min-height: 100px;
}

/*Footer Styling for Social Media Link*/
footer ul {
  float: right;
  display: flex;
  list-style: none;
  margin-right: 20px;
}
footer li {
  margin-left: 20px;
  font-weight: bold;
}
