/*Setting up */
body {
  display: block;
  height: 98vh;
}

/* wave icon in intro size and color */
#wave {
  width: 24px;
  height: 24px;
  color: #ffb742;
}

/* size of mini avatar */
#avatar {
  width: 22vh;
  height: 24vh;
}

/* size of intro section  and text alignment*/
#intro {
  text-align: center;
  height: 90vh;
}
/* Genreal size of all section */
section {
  width: 100%;
  /* position: relative; */
}
/* content of intro spacing and alignment  */
#intro-article {
  padding-top: 15vh;
  width: 650px;
  margin: 0% auto;
}
/* removing space and sizing of h1 */
#intro-article h1 {
  margin: 0vh 0vh 2vh 0vh;
  font-size: 36px;
}

/* removing space and sizing of h1 */
#intro-article h3 {
  margin: 0%;
  font-size: 24px;
}

/* Highlight My Name */
#intro-article .name {
  text-decoration: underline;
  color: #ffb742;
}
